
{% extends 'base.html' %}

{% block content %}

<body>
    <header>
        <div id="header-sidebar">
            <div id="self-image" class="head-img-wrap">
            </div>
            <div id="header-sidebar-icons">
                <ul>
                    <li>
                        <button data-target="upload-avatar-modal" class='btn-small modal-trigger waves-effect'>Upload Avatar</button>
                        <div id="upload-avatar-modal" class="modal">
                            <div class="modal-content">
                                <h4>Upload Avatar</h4>
                                <div class="input-field">
                                    <form action="">
                                        <input type="file" name="file" id='upload-avatar' enctype=multipart/form-data>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-fotter">
                                <button class="modal-close">Cancel</button>
                                <button class="modal-close" onclick='uploadAvatar()'>Upload</button>
                            </div>
                        </div>
                        <button data-click="chat" data-target="new-chat-modal" class="btn-small modal-trigger waves-effect">New Chat
                        </button>
                        <div id="new-chat-modal" class="modal">
                            <div class="modal-content">
                                <h4>Create a chat!</h4>
                                <div class="input-field">
                                    <form action="">
                                        <input type="text" name="new-chat" id="new-chat" placeholder="Email address">
                                        <input type="hidden" name="user_id" id="chat-creator" value="{{user.id}}">
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="modal-close waves-effect waves-light btn-small">Cancel</button>
                                <button class="modal-close waves-effect waves-light btn-small" onclick="createNewChat()">Send</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="header-main">
            <div id="contact-header">
                <div class="head-img-wrap">
                    <img id="convo-image" class="icon-img" src="http://lorempixel.com/output/animals-q-c-284-204-8.jpg" alt="">
                </div>
                <div class="phone-number">
                    <p id="sender-name">{{ user.first_name }}</p>
                </div>
            </div>
            <div id="contact-header-icons">
                <ul>
                    <li>
                        <button data-click="search" class="svg-wrap">
                        <svg id="header-search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#263238" fill-opacity=".5"
                                d="M15.9 14.3H15l-.3-.3c1-1.1 1.6-2.7 1.6-4.3 0-3.7-3-6.7-6.7-6.7S3 6 3 9.7s3 6.7 6.7 6.7c1.6 0 3.2-.6 4.3-1.6l.3.3v.8l5.1 5.1 1.5-1.5-5-5.2zm-6.2 0c-2.6 0-4.6-2.1-4.6-4.6s2.1-4.6 4.6-4.6 4.6 2.1 4.6 4.6-2 4.6-4.6 4.6z">
                            </path>
                        </svg>
                        </button>
                    </li>
                    <li>
                        <button data-click="attach" class="svg-wrap">
                        <svg id="header-attach-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#263238" fill-opacity=".5"
                                d="M1.816 15.556v.002c0 1.502.584 2.912 1.646 3.972s2.472 1.647 3.974 1.647a5.58 5.58 0 0 0 3.972-1.645l9.547-9.548c.769-.768 1.147-1.767 1.058-2.817-.079-.968-.548-1.927-1.319-2.698-1.594-1.592-4.068-1.711-5.517-.262l-7.916 7.915c-.881.881-.792 2.25.214 3.261.959.958 2.423 1.053 3.263.215l5.511-5.512c.28-.28.267-.722.053-.936l-.244-.244c-.191-.191-.567-.349-.957.04l-5.506 5.506c-.18.18-.635.127-.976-.214-.098-.097-.576-.613-.213-.973l7.915-7.917c.818-.817 2.267-.699 3.23.262.5.501.802 1.1.849 1.685.051.573-.156 1.111-.589 1.543l-9.547 9.549a3.97 3.97 0 0 1-2.829 1.171 3.975 3.975 0 0 1-2.83-1.173 3.973 3.973 0 0 1-1.172-2.828c0-1.071.415-2.076 1.172-2.83l7.209-7.211c.157-.157.264-.579.028-.814L11.5 4.36a.572.572 0 0 0-.834.018l-7.205 7.207a5.577 5.577 0 0 0-1.645 3.971z">
                            </path>
                        </svg>
                        </button>
                    </li>
                    <li>
                        <button data-click="head-menu" class="svg-wrap">
                        <svg id="Header-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#263238" fill-opacity=".6"
                                d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z">
                            </path>
                        </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main-content">
        <div id="sidebar">

            <div id="chat-search-wrap" class="chat-bubble-wrap">
                <div id="chat-search-bubble" class="chat-bubble">
                    <button data-click="side-search" class="svg-wrap">
                        <svg id="sidebar-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#263238" fill-opacity=".3"
                                d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z">
                            </path>
                        </svg>
                    </button>
                    <div class="input-field">
                        <input type="text" name="" id="convo-search-field" placeholder="Search or start new chat">
                    </div>
                </div>
            </div>




            
            <div id="convo-wrap">
                {% for chat in chats %}
                <div class="convo" data-chat_id="{{ chat.id }}" data-user_id="{{ user.id }}">
                    <div class="head-img-wrap">
                        <img class="icon-img" src="{{ chat.avatar }}" alt="">
                    </div>
                    <div class="convo-info">
                        <div class="convo-title">
                            <div class="convo-name">{{ user.first_name }}</div>
                            <div class="convo-date">{{ chat.last_updated }}</div>
                        </div>
                        <div class="convo-last-mssg">
                            <p class="mssg">{{ chat.last_message }}</p>
                        </div>
                    </div>
                </div>  
                {% endfor %}
            </div>





        </div>
        <div id="main-chat">
            <div id="main-chat-wrap"></div>

            <div id="main-chat-new-mssg">
                <button data-click="emoji" class="svg-wrap">
                    <svg id="emoji-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path opacity=".45" fill="#263238"
                            d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z">
                        </path>
                    </svg>
                </button>
                <div id="new-mssg-wrap" class="chat-bubble-wrap">
                    <div id="new-mssg-bubble" class="chat-bubble">
                        <form id="new-message-form" name="new-message-form">
                            <input type="text" name="message" id="new-message" placeholder="Type a message">
                            <input type="hidden" name="user_id" id="sndr-name" value="{{user.id}}">
                            <input type="hidden" name="chat_id" id="sndr-chat_id" value="">
                        </form>
                    </div>
                </div>
                <button data-click="send-message" class="svg-wrap" onclick="submitNewMessage()">
                    <svg id="send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="#263238" fill-opacity=".45"
                            d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</body>


{% endblock %}

